.traceDetailsPanel {
  width: 70%;
  padding-left: 16px;
  overflow: auto;
}

.title {
  color: #555;
  margin-bottom: 15px;
}

.content {
  background-color: #f9f9f9;
  border: 1px solid #eee;
  padding: 10px;
  white-space: pre-wrap;
  word-break: break-all;
}
