@use '../../styles/constants' as c;

.traceDetailsPanel {
  width: 70%;
  padding-left: 16px;
}

.title {
  color: c.$text-color;
  margin-bottom: 16px;
}

.content {
  background-color: c.$background-color;
  border: c.$border-width solid c.$border-color;
  padding: 8px;
  border-radius: c.$border-radius;
  white-space: pre-wrap;
  word-break: break-all;
  max-height: 400px;
  overflow-y: auto;
}

.contentInput {
  margin-bottom: 32px;
}
