version: '3.8'
services:
  langscout-ui:
    image: ghcr.io/capgeminiinventuk/langscout-ui:latest@sha256:ae0a0fc967b2b2205f571a21c0b17ace1fce0868215d04bb4535a51d31387966
    ports:
      - "3000:3000"
    env_file:
      - ./packages/ui/.env.docker
    depends_on:
      - langscout-api

  langscout-ingest:
    image: ghcr.io/capgeminiinventuk/langscout-ingest:latest@sha256:5731473020a1ffb410d32dddcb8afb0878802c440ea43097eb99946a53de025e
    ports:
      - "1984:1984"
    env_file:
      - ./packages/ingest/.env.docker
    depends_on:
      - langscout-mongodb

  langscout-api:
    image: ghcr.io/capgeminiinventuk/langscout-api:latest@sha256:dc0b17161eb7714c9f971de6f9b48f95678dcc48af5ca702e32e210e3006ea52
    ports:
      - "1994:1994"
    env_file:
      - ./packages/api/.env.docker
    depends_on:
      - langscout-mongodb

  langscout-mongodb:
    image: mongo:latest@sha256:9342a9279a9841fc5f8192e49dcaaf9404e6bb3a90e8cf134eb96074830dd448
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    command: mongod --bind_ip_all
