version: '3.8'
services:
  langscout-ui:
    build:
      dockerfile: Dockerfile.ui
    image: langscout-ui:local
    ports:
      - "3000:3000"
    env_file:
      - ./packages/ui/.env.docker
    depends_on:
      - langscout-api
      - langscout-mongodb

  langscout-ingest:
    build:
      dockerfile: Dockerfile.ingest
    image: langscout-ingest:local
    ports:
      - "1984:1984"
    env_file:
      - ./packages/ingest/.env.docker
    depends_on:
      - langscout-mongodb

  langscout-api:
    build:
      dockerfile: Dockerfile.api
    image: langscout-api:local
    ports:
      - "1994:1994"
    env_file:
      - ./packages/api/.env.docker

  langscout-mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
