@use '../../styles/constants' as c;

.tableContainer {
  width: 100%;
  overflow-x: auto;
}

.fullWidthTable {
  width: 100%;
  border: c.$border-width solid c.$border-color;
  border-radius: c.$border-radius;
  border-collapse: separate; /* Use 'separate' to allow border-radius on individual cells */
  border-spacing: 0; /* Remove spacing between cells */

  th {
    border-bottom: c.$border-width solid c.$border-color;
    height: 36px;
    padding: 8px;
    text-align: left;
    background-color: #f4f4f4;
  }

  td {
    padding: 8px;
    text-align: left;
    height: 24px;
  }

  tr:first-child th:first-child {
    border-top-left-radius: c.$border-radius;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  tr:first-child th:last-child {
    border-top-right-radius: c.$border-radius;
  }
}

.clickableRow {
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: c.$primary-color;
    color: c.$background-color;
  }
}
