@use '../../styles/constants' as c;

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: c.$border-radius;
  background-color: c.$panel-background-color;
  color: white;
  border-radius: c.$border-radius;
  border: c.$border-width solid c.$border-color-bold;
  white-space: nowrap;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
