@use '../styles/constants' as c;

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: 100vh;
}
.appBar{
  @extend .row;
  margin-bottom: 16px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mainContent {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}

.mainPanel {
  width: 70%;
}

.quickLaunchPanel {
  width: 30%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: c.$border-radius;
  border: c.$border-width * 2 solid c.$border-color-bold;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
  background-color: transparent;
  cursor: pointer;
  color: c.$primary-color;
  font-family: 'Ubuntu', 'Open Sans', sans-serif;
  text-decoration: none;

  &:hover {
    background-color: c.$primary-color;
    color: c.$background-color;
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }
}

.icon {
  margin-right: 8px;
}
