@use '../styles/constants' as c;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.homePanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 32px;
    border-radius: c.$panel-radius;
    background-color: c.$panel-background-color;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin-top: 32px;
  border-radius: c.$border-radius;
  border: c.$border-width * 2 solid c.$border-color-bold;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
  background-color: transparent;
  cursor: pointer;
  color: c.$primary-color;
  font-family: 'Ubuntu', 'Open Sans', sans-serif;
  text-decoration: none;

  &:hover {
    background-color: c.$primary-color;
    color: c.$background-color;
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}

.icon {
  margin-right: 8px;
}
