@use '../styles/constants' as c;

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mainContent {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}

.mainPanel {
  width: 70%;
}

.quickLaunchPanel {
  width: 30%;
}

.icon {
  margin-right: 8px;
}
