@use '../../styles/constants' as c;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: c.$border-radius;
  border: c.$border-width * 2 solid c.$border-color-bold;
  background-color: transparent;
  cursor: pointer;
  color: c.$primary-color;
  font-family: 'Ubuntu', 'Open Sans', sans-serif;
  text-decoration: none;

  &:hover {
    background-color: c.$primary-color;
    color: c.$background-color;
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }
}
