@use '../../styles/constants' as c;

.panel {
  display: flex;
  flex-direction: column;
  //align-items: center;
  //justify-content: center;
  padding: 32px;
  border-radius: c.$panel-radius;
  background-color: c.$panel-background-color;
  border: c.$border-width solid c.$border-color-transparent;
}
