@use '../../styles/constants' as c;

.panel {
  display: flex;
  flex-direction: column;
  //align-items: center;
  //justify-content: center;
  padding: 32px;
  border-radius: c.$panel-radius;
  background-color: c.$panel-background-color;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
}
