@use '../../styles/constants' as c;

.filterPanel {
  width: 20%;
  overflow-x: auto;
  background-color: c.$panel-background-color;
  border-radius: c.$panel-radius;
  border: c.$border-width solid c.$border-color-transparent;
  padding: 16px;
}

.filterPanelChips{
  padding-bottom: 8px;
}
