@use '../../styles/constants' as c;

.filterPanel {
  width: 20%;
  overflow-x: auto;
  background-color: c.$panel-background-color;
  border-radius: c.$panel-radius;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
}

.filterPanelChips{
  padding-bottom: 8px;
}
