@use '../../styles/constants' as c;

.traceTree {
  width: 30%;
  padding: 0 16px;
  height: calc(100vh - #{c.$breadcrumb-height} - 34px);
  background-color: c.$panel-background-color;
  border-radius: c.$panel-radius;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
}

.runTypeBox {
  font-size: 12px;
  color: #666;
  display: inline-block;
  border: c.$border-width solid c.$border-color-transparent;
  border-radius: c.$border-radius;
  padding: 2px 4px;
  margin-right: 8px;
  background-color: c.$background-color;
  flex-shrink: 0;
}

.traceHeader {
  margin: 2px 0;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &:hover {
    transition: background-color 0.2s ease;
    background-color: c.$primary-color;
    color: c.$background-color;
    border-radius: c.$border-radius;
  }
}

.traceTitle {
  flex: 1;
  font-weight: normal;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toggleIcon {
  display: inline-block;
  margin-left: 8px;

  &:hover {
    transition: background-color 0.2s ease;
    color: c.$background-color;
  }

  &_empty {
    width: 24px;
    margin-left: 8px;
  }
}

.traceChildren {
  margin-left: 8px;
  border-left: 2px solid c.$border-color-bold;
  padding-left: 10px;
}

.traceDuration {
  margin-left: 8px;
  font-size: 12px;
  color: #666;
}

.active {
  border-radius: c.$border-radius;
  border: c.$border-width * 2 solid c.$border-color-bold;
}
