@use '../../styles/constants' as c;

.tracesContainer {
  display: flex;
  gap: 16px;
}

.clickableRow {
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: c.$primary-color;
    color: c.$background-color;
  }
}
