@use '../../styles/constants' as c;

.tracesContainer {
  display: flex;
  gap: 16px;
}

.clickableRow {
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: c.$primary-color;
    color: c.$background-color;
  }
}

.chip{
  padding: 6px 4px;
  border: c.$border-width solid transparent;
  line-height: 0;
  font-size: 16px;
  border-radius: c.$border-radius;
  text-align: center;
  align-content: center;
}

.completed {
  @extend .chip;
  background-color: c.$temperature-1;
  color: c.$temperature-1-text;
  border: 1px solid c.$temperature-1-text;
}
.inprogress {
  @extend .chip;
  background-color: c.$temperature-2;
  color: c.$temperature-2-text;
  border: 1px solid c.$temperature-2-text;
}
.warning {
  @extend .chip;
  background-color: c.$temperature-3;
  color: c.$temperature-3-text;
  border: 1px solid c.$temperature-3-text;
}

.error {
  @extend .chip;
  background-color: c.$temperature-4;
  color: c.$temperature-4-text;
  border: 1px solid c.$temperature-4-text;
}

.columnIcon {
  width: 24px;
  text-align: center !important;
}
