$black: #000;
$white: #fff;

$background-color: $white;
$primary-color: $black;

$border-radius: 4px;
$border-width: 2px;
$border-color: $black;
$text-color: $black;


$breadcrumb-height: 24px;

$temperature-4: #E7687670;
$temperature-4-text: #791725;
$temperature-3: #DB803C70;
$temperature-3-text: #874024;
$temperature-2: #EEC84470;
$temperature-2-text: #8B4800;
$temperature-1: #4ADE8070;
$temperature-1-text: #2C504F;
