@use '../styles/constants' as c;

html, body {
  font-family: 'Ubuntu', 'Open Sans', sans-serif;
  margin: 0;
  background-color: c.$background-color;
  color: c.$text-color;
}

body {
  padding: 0.75rem 1rem;
}

h1, h2 {
  line-height: 0;
  padding-bottom: 6px;
}
